.register-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 35%;
  padding: 15px;
  height: 100vh;
}

input {
  border: 1px solid black;
  padding: 10px;
}

button {
  cursor: pointer;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  background: #c5c5c5;
  outline: none;
  border: none;
}

button:hover {
  background: lightgreen;
  transition: all .4s;
}
